html {
    color: $rgse_green;

    &, body {
        margin: 0;
        padding:0;
    }
    main {
        display: block;
        max-width: 1200px;
        margin: auto;
    }
    
    .shadow {
        font-size: 0;
        color: black;
        font-family: 'Arial';
    }
}