.detail {
    width: 100%;
    text-align: center;
    border: 1px solid $rgse_green;
    margin-top: 20px;

    & > header {
        background-color: $rgse_green;
        color: white;
        padding: 10px 0;
    }

    &.hidden {
        display: none;
    }

    .content {
        padding: 10px 0;
        label {
            width:100px;
            display: inline-block;
            text-align: right;
        }
        
        input[type='time'] {
            width:100px;
            text-align: center;
        }
    }
}