.calendar {
    background-color: rgba(255,255,255,.8);
    
    .fc-time-grid-event {
        background-color: $rgse_green;
        cursor: pointer;
    }

    .fc-button {
        background-image: none;
        background-color: $rgse_green;
        color: white;
        border: none;
    }
}