<div>
  <button ion-button (click)="calendarMode='month'" [disabled]="calendarMode==='month'">Monat</button>
  <button ion-button (click)="calendarMode='week'" [disabled]="calendarMode==='week'">Woche</button>
  <button ion-button (click)="calendarMode='day'" [disabled]="calendarMode==='day'">Tag</button>
  <button ion-button (click)="previousPage()">Zurück</button>
  <button ion-button (click)="toToday()">Heute</button>
  <button ion-button (click)="nextPage()">Weiter</button>
  <p>{{currentDate | dateLabel:calendarMode}}</p>
</div>
<calendar step="30" [eventSource]="timeEvents" [currentDate]="currentDate" [calendarMode]="calendarMode" [startingDayWeek]="1" [startingDayMonth]="1"
  (onTimeSelected)="onTimeSelected($event)" (onRangeChanged)="reload($event)" [queryMode]="'remote'"></calendar>