<head>
    <meta name="google-signin-client_id" content="929754807802-tfihsuraa6ccvsh14badmg5ql3fbbp64.apps.googleusercontent.com">
</head>
<div class="login">
    <h2>Was ist Timecap?</h2>
    <p>Timecap ist eine Anwendung zum Erfassen und Verwalten von Arbeitszeiten. 
        Der Name leitet sich von Time Capture ab.
        Sie können zu verschiedenen Terminen Zeitpunkte erfassen,
        von denen jeweils zwei zu einem Zeitraum zusammengefasst werden.</p>
    <p>Um die Erfassung möglichst einfach zu gestalten, können die Zeiten über eine App erfasst werden.
        Die einzige Voraussetzungen sind dafür ein Android-Endgerät mit <a href="http://praxistipps.chip.de/nfc-was-ist-das_12294">NFC-Funktion.</a></p>

    <h2 class="losGehts">
        Los geht's
    </h2>

    <div class="path">
        Zur Webanwendung geht es hier entlang
        <br>
        <button class="btnLogin" onclick="signIn()">
            <img alt="google logo" src="assets/images/the-new-google-logo.jpg">
            <span>
                Anmelden
            </span>
        </button>
    </div>

    <div  class="path">
        <p>
            Für die Android App bei <a href="https://uptodown.com">UpToDown</a> bitte hierher
        </p>
        <form action="https://timecap.de.uptodown.com/android">
            <button class="btnUpToDown">
                <img alt="uptodown logo" src="assets/images/uptodown.png">
                <span>
                    Timecap
                </span>
            </button>
        </form>
    </div>
    <div class="path">
        <p>
            oder direkt downloaden
        </p>
        <img src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fdw.uptodown.com%2Fdwn%2FRyXjWobdTyZ0pZUtzNpfRFvINCRnRLSDokWMCziFee1sKv_IMstAmcTg1bHIxI8GzlJXxowVnJ4WWbUOnDYN7PxoiRIl-y4srPZTKRy9U5BUoyBwm0OSDdrHJWpgee6d%2Fheklu559AGVcTzVXKIsHTbvNMmFM-y4QRuoooVpVUF0nVlC2iIUL5a3aHhbwK4f-Ouj5IIrkMqWJWuXaSIeyjMEyVowOGmx-rOG75zzzfj3Ekv9m06RKdPS39zxSw0FR%2FeCUijFx0wpJeG268azoCDWHPdlF2ApL6G-zu-D3-JJtDKZSMnvMWjFaxC5j7wD1ojUVJZQFUXnWCwdOBOsoy0nNjoYvt9hDpyXj5PO9vQ04UimJNNB3jzbHyVXkWi9Mf%2F-DsN33J3-fKmYZoZDfHWHYFtzNIfJt1o3HzBnjA92IY%3D%2F&chs=180x180&choe=UTF-8&chld=L|2' rel='nofollow' alt='qr code'><a href='http://www.qrcode-generator.de' border='0' style='cursor:default'  rel='nofollow'></a>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
            function signIn() {
                GoogleLogin.signIn();
            }

            function onSignIn(googleUser) {
                GoogleLogin.onSignIn(googleUser);
            }
    </script>
</div>
