<form id="dialogForm" action="">
    <link rel="stylesheet" type="text/css" href="lib/jquery.datetimepicker.min.css">

    <div class="data">
        <div>
            <label for="location">Ort</label>
            <input id="location" name="locationId" required="required">
        </div>
        <div>
            <label for="time">Zeitpunkt</label>
            <input id="time" name="time" type="text" required="required">
        </div>
    </div>

    <input id="userId" type="hidden" value="" name="userId">

    <script src="lib/jquery.datetimepicker.full.min.js"></script>
    <script src="js/newElement.js"></script>
</form>